:host::ng-deep {
  mat-toolbar{
    span{
      display: flex;
      height: 100%;
      align-items: center;

      button{
        height: 100%;
      }
    }
  }
}

html, body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
