<mat-toolbar class="col-12">
    <div class="d-flex py-2 h-100 col-1"><img src="assets/SRH_Bildung.svg" alt="logo"></div>
    <span class="col-auto"><button mat-button>Home</button></span>
    <span class="col-auto"><button mat-button>Neue Einträge</button></span>
</mat-toolbar>

<router-outlet></router-outlet>
<!--<app-nab-var></app-nab-var>-->
<!--<main role="main" class="container">-->
<!--&lt;!&ndash;    <app-alerts></app-alerts>&ndash;&gt;-->
<!--    <router-outlet></router-outlet>-->
<!--</main>-->
