<div class="d-flex flex-column p-4">
    <h3>Antrag auf Anerkennung {{currentDegree?.type}} {{currentDegree?.name}}</h3>

    <div class="d-flex col-12">
        <srh-student-data class="col-8 pe-2" (degreeEmitter)="changeCurrentDegree($event)"></srh-student-data>
        <srh-student-compenteces class="d-flex col-4 ps-2"></srh-student-compenteces>
    </div>

    <div *ngIf="currentDegree">
        <div class="d-flex flex-column">
        </div>
        <h1>{{currentDegree.name}}</h1>
        <div>
            <h3>Modules</h3>
            <div *ngFor="let m of currentDegree.moduleList.moduleListModules" class="d-flex col-12">
                <div class="me-3 col-1">{{m.module.moduleId}}</div>
                <div class="me-3 col-4">{{m.module.name}}</div>
                <div class="col-1">{{m.module.ects}}</div>
                <div class="col-1">{{m.module.type.name}}</div>
            </div>
        </div>
    </div>


    <div>
        <!--        <button mat-flat-button color="primary" (click)="method()"> hi</button>-->
    </div>
</div>
