<div class="p-4">
    <h1>Antrag auf Anerkennung BACHELOR - Studierendendaten</h1>

    <mat-card class="col-6">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <div class="col-sm-5"><b>Name:</b></div>
                <div class="col-sm-6">Dennis, Weller</div>
            </div>

            <div class="d-flex">
                <div class="col-sm-5"><b>Matrikelnummer:</b></div>
                <div class="col-sm-6">929040</div>
            </div>

            <div class="d-flex">
                <div class="col-sm-5"><b>Geburtsdatum:</b></div>
                <div class="col-sm-6">18.10.1995</div>
            </div>

            <div class="d-flex">
                <div class="col-sm-5"><b>Studiengang:</b></div>
                <div class="col-sm-6"><b>{{currentDegree?.type}}</b> {{currentDegree?.name}}</div>
            </div>

            <div class="d-flex">
                <div class="col-sm-5"><b>Anzahl ECTS-CP:</b></div>
                <div class="col-sm-6">{{currentDegree?.ectsNeeded}}</div>
            </div>

            <div class="d-flex">
                <div class="col-sm-5"><b>Anzahl Module:</b></div>
                <div class="col-sm-6">{{currentDegree?.moduleList.moduleListModules.length}}</div>
            </div>

            <div class="d-flex">
                <div class="col-sm-5"><b>Vorgang geprüft am:</b></div>
                <div class="col-sm-6">10.01.2023</div>
            </div>

            <div class="d-flex mb-4">
                <div class="col-sm-5"><b>Vorgang geprüft von:</b></div>
                <div class="col-sm-6">Max, Mustermann</div>
            </div>

            <div class="d-flex flex-column">
                <div class="col-sm-12"><b>Kompetenzen erworben von/aus:</b></div>
                <div class="d-flex col-9 flex-grow-1">
                    <mat-form-field class="d-flex flex-grow-1" disabled="true" appearance="legacy">
                        <input matInput value="Studium Medieninformatik Universität Ulm" disabled>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

    <div>
        <app-degree-selection (e)="changeSelection($event)"></app-degree-selection>
    </div>

    <div *ngIf="currentDegree">
        <div class="d-flex flex-column">
        </div>
        <h1>{{currentDegree.name}}</h1>
        <div>
            <h3>Modules</h3>
            <div *ngFor="let m of currentDegree.moduleList.moduleListModules" class="d-flex">
                <div class="me-3">{{m.module.moduleId}}</div>
                <div class="me-3">{{m.module.name}}</div>
                <div>{{m.module.shortName}}</div>
            </div>
        </div>
    </div>


    <div>

        <button mat-flat-button color="primary" (click)="method()"> hi</button>
    </div>
</div>
