<mat-card class="d-flex flex-grow-1">
    <mat-card-content class="d-flex flex-column flex-grow-1 justify-content-between">
        <div>
            <mat-card-title>Kompetenzen erworben von/aus</mat-card-title>
            <div class="d-flex flex-column">
                <div class="d-flex flex-grow-1">
                    <mat-form-field class="d-flex flex-grow-1" disabled="true" appearance="legacy">
                        <input matInput readonly value="Studium Medieninformatik Universität Ulm">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button mat-mini-fab style="background-color: #df4807; color: white" class="align-self-end">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-content>
</mat-card>
